body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:811px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:0px;
  width:713px;
  height:202px;
}
#u1230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:38px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:38px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:173px;
  word-wrap:break-word;
}
#u1232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:38px;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:0px;
  width:177px;
  height:38px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:173px;
  word-wrap:break-word;
}
#u1234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:38px;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:0px;
  width:177px;
  height:38px;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:173px;
  word-wrap:break-word;
}
#u1236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:38px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:0px;
  width:177px;
  height:38px;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:173px;
  word-wrap:break-word;
}
#u1238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:159px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:177px;
  height:159px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:173px;
  word-wrap:break-word;
}
#u1240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:159px;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:38px;
  width:177px;
  height:159px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:173px;
  word-wrap:break-word;
}
#u1242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:159px;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:38px;
  width:177px;
  height:159px;
  text-align:left;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:173px;
  word-wrap:break-word;
}
#u1244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:159px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:38px;
  width:177px;
  height:159px;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
