body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:795px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:21px;
  width:709px;
  height:122px;
}
#u1209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:0px;
  width:141px;
  height:33px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u1213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:0px;
  width:141px;
  height:33px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u1215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:0px;
  width:141px;
  height:33px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u1217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:33px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:0px;
  width:140px;
  height:33px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u1219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:84px;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:33px;
  width:141px;
  height:84px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:137px;
  word-wrap:break-word;
}
#u1221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:84px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:33px;
  width:141px;
  height:84px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:137px;
  word-wrap:break-word;
}
#u1223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:84px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:33px;
  width:141px;
  height:84px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:137px;
  word-wrap:break-word;
}
#u1225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:84px;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:33px;
  width:141px;
  height:84px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:84px;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:33px;
  width:140px;
  height:84px;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:136px;
  word-wrap:break-word;
}
