body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:289px;
  width:53px;
  height:16px;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  visibility:hidden;
  white-space:nowrap;
}
#u1253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:557px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:55px;
  width:370px;
  height:557px;
  color:#00A9F5;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:270px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:425px;
  width:325px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:15px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
